.jumbotron {
  padding-top: 7rem;
  background-color: #c5c5c5;
}
#about {
  padding-top: 5rem;
  background-color: #f3f4f5;
}
#recruitment {
  background-color: #c5c5c5;
}
#join {
  background-color: #c5c5c5;
}
footer {
  background-color: #f3f4f5;
}
section {
  padding-top: 5rem;
}
/* navbar */
/* menu toggle */
.navbar-toggler {
  display: flex;
  flex-direction: column;
  height: 28px;
  justify-content: space-between;
  position: relative;
}

.navbar-toggler input {
  position: absolute;
  width: 60px;
  height: 50px;
  opacity: 0;
  left: -5px;
  top: -8px;
  cursor: pointer;
  z-index: 2;
}
.navbar-toggler span {
  display: flex;
  width: 28px;

  height: 3px;
  background-color: #f3f4f5;
  border-radius: 5px;
  transition: all 0.5s;
}
/* anime sppan */
.navbar-toggler span:nth-child(2) {
  transform-origin: 0 0;
}
.navbar-toggler span:nth-child(4) {
  transform-origin: 0 100%;
}
.navbar-toggler input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translateX(5px) translateY(-5px) translate(-1px, -1px);
}
.navbar-toggler input:checked ~ span:nth-child(3) {
  transform: translateX(15px) scale(0);
}
.navbar-toggler input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translateX(5px) translateY(5px) translate(-1px, 0);
}
